body{ 
    background-color: aquamarine(186, 150, 99);
}
h1{
    font-size: 60px;
    color:rgb(150, 105, 192);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: center;
}
    p{
        
    }